[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/ctrlp-funky"]
  path = .vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule ".vim/bundle/ctrlp.vim"]
  path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/HTML-AutoCloseTag"]
  path = .vim/bundle/HTML-AutoCloseTag
	url = https://github.com/amirh/HTML-AutoCloseTag.git
[submodule ".vim/bundle/color_highlight"]
	path = .vim/bundle/color_highlight
	url = https://github.com/chrisbra/color_highlight.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/monokai"]
	path = .vim/bundle/monokai
	url = https://github.com/lsdr/monokai.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/tmux.vim"]
	path = .vim/bundle/tmux.vim
	url = https://github.com/jby/tmux.vim.git
[submodule ".vim/bundle/tslime.vim"]
	path = .vim/bundle/tslime.vim
	url = https://github.com/kikijump/tslime.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/colors/vim-colors-solarized"]
	path = .vim/colors/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
